# Ignorar variables de entorno
.env
.env.local
.env.production

# Ignorar dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log

# Ignorar archivos de bases de datos locales (si usas MongoDB local)
dump/
*.log

# Ignorar archivos de compilación (si usas React o Angular en frontend)
/client/build/
/server/dist/
